body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: beige;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(127, 127, 85);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(79, 79, 54);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    color: #888;
}

li button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

li button:hover {
    color: black;
}